In [1]:
import json
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('formula1-originalDB.db')

In [3]:
query = '''
    SELECT
        driverId,
        forename,
        surname,
        dob,
        nationality
    FROM
        drivers
'''

drivers = pd.read_sql_query(query, conn)

print(drivers)

     driverId  forename     surname         dob nationality
0           1     Lewis    Hamilton  1985-01-07     British
1           2      Nick    Heidfeld  1977-05-10      German
2           3      Nico     Rosberg  1985-06-27      German
3           4  Fernando      Alonso  1981-07-29     Spanish
4           5    Heikki  Kovalainen  1981-10-19     Finnish
..        ...       ...         ...         ...         ...
852       854      Mick  Schumacher  1999-03-22      German
853       855    Guanyu        Zhou  1999-05-30     Chinese
854       856      Nyck    de Vries  1995-02-06       Dutch
855       857     Oscar     Piastri  2001-04-06  Australian
856       858     Logan    Sargeant  2000-12-31    American

[857 rows x 5 columns]

In [4]:
import sqlite3
import pandas as pd
import json

# Connect to the SQLite database
conn = sqlite3.connect('formula1-originalDB.db')  # Update with your actual database name

query = '''
    SELECT
        driverId,
        forename,
        surname,
        dob,
        nationality
    FROM
        drivers
'''

drivers = pd.read_sql_query(query, conn)

print(drivers)

# Query to calculate the maximum lap time for each driver in each season
max_query = '''
    SELECT
        drivers.driverId,
        strftime('%Y', races.date) AS season,
        MAX(lap_times.milliseconds) AS max_lap_time
    FROM
        lap_times
    JOIN
        races ON lap_times.raceId = races.raceId
    JOIN
        drivers ON lap_times.driverId = drivers.driverId
    GROUP BY
        drivers.driverId, season
'''

# Query to calculate the average lap time for each driver in each season
avg_query = '''
    SELECT
        drivers.driverId,
        strftime('%Y', races.date) AS season,
        AVG(lap_times.milliseconds) AS avg_lap_time
    FROM
        lap_times
    JOIN
        races ON lap_times.raceId = races.raceId
    JOIN
        drivers ON lap_times.driverId = drivers.driverId
    GROUP BY
        drivers.driverId, season
'''

# Query to calculate the minimum lap time for each driver in each season
min_query = '''
    SELECT
        drivers.driverId,
        strftime('%Y', races.date) AS season,
        MIN(lap_times.milliseconds) AS min_lap_time
    FROM
        lap_times
    JOIN
        races ON lap_times.raceId = races.raceId
    JOIN
        drivers ON lap_times.driverId = drivers.driverId
    GROUP BY
        drivers.driverId, season
'''

max_lap_times_df = pd.read_sql_query(max_query, conn)
avg_lap_times_df = pd.read_sql_query(avg_query, conn)
min_lap_times_df = pd.read_sql_query(min_query, conn)

# Create JSON columns for max, avg, and min lap times
max_lap_times_df['max_lap_times_json'] = max_lap_times_df.apply(
    lambda row: json.dumps({row['season']: row['max_lap_time']}), axis=1
)

avg_lap_times_df['avg_lap_times_json'] = avg_lap_times_df.apply(
    lambda row: json.dumps({row['season']: row['avg_lap_time']}), axis=1
)

min_lap_times_df['min_lap_times_json'] = min_lap_times_df.apply(
    lambda row: json.dumps({row['season']: row['min_lap_time']}), axis=1
)

# Group by driverId and aggregate the JSON dictionaries
max_lap_times_json_df = max_lap_times_df.groupby('driverId')['max_lap_times_json'].apply(list).reset_index()
avg_lap_times_json_df = avg_lap_times_df.groupby('driverId')['avg_lap_times_json'].apply(list).reset_index()
min_lap_times_json_df = min_lap_times_df.groupby('driverId')['min_lap_times_json'].apply(list).reset_index()

# Merge the aggregated JSON columns back into the 'drivers' DataFrame
drivers = pd.merge(drivers, max_lap_times_json_df, on='driverId', how='left')
drivers = pd.merge(drivers, avg_lap_times_json_df, on='driverId', how='left')
drivers = pd.merge(drivers, min_lap_times_json_df, on='driverId', how='left')

# Rename the columns and fill missing values with an empty list
drivers.rename(columns={'max_lap_times_json': 'max_lap_times', 'avg_lap_times_json': 'avg_lap_times', 'min_lap_times_json': 'min_lap_times'}, inplace=True)
drivers['max_lap_times'].fillna(value='[]', inplace=True)
drivers['avg_lap_times'].fillna(value='[]', inplace=True)
drivers['min_lap_times'].fillna(value='[]', inplace=True)

del min_lap_times_json_df, max_lap_times_json_df, avg_lap_times_json_df

# Display the resulting DataFrame
print(drivers)

     driverId  forename     surname         dob nationality
0           1     Lewis    Hamilton  1985-01-07     British
1           2      Nick    Heidfeld  1977-05-10      German
2           3      Nico     Rosberg  1985-06-27      German
3           4  Fernando      Alonso  1981-07-29     Spanish
4           5    Heikki  Kovalainen  1981-10-19     Finnish
..        ...       ...         ...         ...         ...
852       854      Mick  Schumacher  1999-03-22      German
853       855    Guanyu        Zhou  1999-05-30     Chinese
854       856      Nyck    de Vries  1995-02-06       Dutch
855       857     Oscar     Piastri  2001-04-06  Australian
856       858     Logan    Sargeant  2000-12-31    American

[857 rows x 5 columns]
     driverId  forename     surname         dob nationality  \
0           1     Lewis    Hamilton  1985-01-07     British
1           2      Nick    Heidfeld  1977-05-10      German
2           3      Nico     Rosberg  1985-06-27      German
3           4  Fernando      Alonso  1981-07-29     Spanish
4           5    Heikki  Kovalainen  1981-10-19     Finnish
..        ...       ...         ...         ...         ...
852       854      Mick  Schumacher  1999-03-22      German
853       855    Guanyu        Zhou  1999-05-30     Chinese
854       856      Nyck    de Vries  1995-02-06       Dutch
855       857     Oscar     Piastri  2001-04-06  Australian
856       858     Logan    Sargeant  2000-12-31    American

                                         max_lap_times  \
0    [{"2007": 1453884}, {"2008": 195953}, {"2009":...
1    [{"2000": 218816}, {"2001": 232209}, {"2002": ...
2    [{"2006": 157809}, {"2007": 191891}, {"2008": ...
3    [{"2001": 228415}, {"2003": 178163}, {"2004": ...
4    [{"2007": 1394884}, {"2008": 185474}, {"2009":...
..                                                 ...
852             [{"2021": 2240706}, {"2022": 3197410}]
853             [{"2022": 1288793}, {"2023": 2001493}]
854              [{"2022": 122870}, {"2023": 1098805}]
855                                [{"2023": 2000574}]
856                                [{"2023": 1106846}]

                                         avg_lap_times  \
0    [{"2007": 90600.86017357763}, {"2008": 93210.1...
1    [{"2000": 92277.8944}, {"2001": 85846.86649214...
2    [{"2006": 89968.74924471299}, {"2007": 89718.1...
3    [{"2001": 92335.86704384725}, {"2003": 86991.6...
4    [{"2007": 92458.82991202346}, {"2008": 93557.7...
..                                                 ...
852  [{"2021": 97258.92246696036}, {"2022": 99276.4...
853  [{"2022": 94793.01320754716}, {"2023": 96732.8...
854  [{"2022": 91219.49056603774}, {"2023": 92441.0...
855                      [{"2023": 95224.11392405063}]
856                      [{"2023": 95717.04160246532}]

                                         min_lap_times
0    [{"2007": 72506}, {"2008": 74159}, {"2009": 74...
1    [{"2000": 73593}, {"2001": 71388}, {"2002": 72...
2    [{"2006": 74707}, {"2007": 73159}, {"2008": 74...
3    [{"2001": 74432}, {"2003": 70526}, {"2004": 71...
4    [{"2007": 73998}, {"2008": 74207}, {"2009": 74...
..                                                 ...
852                 [{"2021": 69394}, {"2022": 69625}]
853                 [{"2022": 69380}, {"2023": 69786}]
854                 [{"2022": 86624}, {"2023": 69852}]
855                                  [{"2023": 69862}]
856                                  [{"2023": 69611}]

[857 rows x 8 columns]

In [25]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('formula1-originalDB.db')

# SQL query
sql_query = '''
SELECT
    l.driverId,
    strftime('%Y', r.date) AS year,
    mode() WITHIN GROUP (ORDER BY l.position) AS most_common_position
FROM
    lap_times l
JOIN
    races r ON l.raceId = r.raceId
WHERE
    l.driverId IS NOT NULL
GROUP BY
    l.driverId,
    year
ORDER BY
    year,
    l.driverId;
'''

# Execute query and store result in a DataFrame
df = pd.read_sql_query(sql_query, conn)

# Close the database connection
conn.close()

# Display the DataFrame
print(df)

DatabaseError: Execution failed on sql '
SELECT
    l.driverId,
    strftime('%Y', r.date) AS year,
    mode() WITHIN GROUP (ORDER BY l.position) AS most_common_position
FROM
    lap_times l
JOIN
    races r ON l.raceId = r.raceId
WHERE
    l.driverId IS NOT NULL
GROUP BY
    l.driverId,
    year
ORDER BY
    year,
    l.driverId;
': near "(": syntax error