In [1]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('formula1-originalDB.db')

# Your SQL query to calculate points for each driver for each year
query = '''
WITH DriverPoints AS (
    SELECT
        races.year,
        results.driverId,
        SUM(results.points) AS total_points
    FROM
        results
    JOIN
        races ON results.raceId = races.raceId
    JOIN
        drivers ON results.driverId = drivers.driverId
    GROUP BY
        races.year, results.driverId
)
SELECT
    DriverPoints.driverId,
    DriverPoints.year,
    DriverPoints.total_points,
    drivers.forename || ' ' || drivers.surname AS driver_name
FROM
    DriverPoints
JOIN
    drivers ON DriverPoints.driverId = drivers.driverId;
'''

# Execute the SQL query and read the result into a DataFrame
driver_df = pd.read_sql_query(query, conn)

# Print the DataFrame
print(driver_df)

      driverId  year  total_points            driver_name
0          427  1950           0.0    Maurice Trintignant
1          498  1950           0.0  José Froilán González
2          501  1950           0.0           Harry Schell
3          509  1950           0.0           Jim Rathmann
4          518  1950           0.0           Duane Carter
...        ...   ...           ...                    ...
3181       852  2023           3.0           Yuki Tsunoda
3182       855  2023           4.0            Guanyu Zhou
3183       856  2023           0.0          Nyck de Vries
3184       857  2023          27.0          Oscar Piastri
3185       858  2023           0.0         Logan Sargeant

[3186 rows x 4 columns]